<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="block">
  <% if (success_msg.length > 0) { %>
    <div class="" id="success-msg">
      <div class="notification is-primary is-light">
        <button class="delete"></button>
        <%= success_msg %>
      </div>
    </div>
  <% } %>
  </div>
  
  <div class="tabs is-boxed">
    <ul>
      <li data-target="users">
        <a>Users</a>
      </li>
      <li data-target="posts">
        <a>Posts</a>
      </li>
    </ul>

  </div>
  <div class="block">
    <table class="table is-fullwidth">
      <thead class="has-background-light">
        <tr>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Phone No.</td>
          <td>Status</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      <% if (users.length > 0) { %>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.firstName %></td>
            <td><%= user.lastName %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td>
              <% if (user.status == "activated") { %>
                <span class="tag is-success is-light"><%= user.status %></span>
              <% } %>
              <% if (user.status == "deactivated") { %>
                <span class="tag is-light"><%= user.status %></span>
              <% } %>

            </td>
            <td>
              <% if (user.status == "activated") { %>
                <a class="button is-light" href="/deactivate-user/<%= user.id%>">Go to deactivate</a>
              <% } %>
              <% if (user.status == "deactivated") { %>
                <a class="button is-light" href="/activate-user/<%= user.id%>">Go to activate</a>
              <% } %>
              <a class="button is-light" href="/delete-user/<%= user.id %>">Go to delete</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
      </tbody>

    </table>

  </div>
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const delErrMsg = () => {
    const errorMsg = document.querySelector("#success-msg").remove();

    if (errorMsg) {
      errorMsg.remove;
    }
  };

  const deleteButton = document.querySelector(".delete");

  if (deleteButton) {
    deleteButton.addEventListener("click", delErrMsg);
  }
});
</script>