<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="block is-size-2">
    Edit profile
  </div>
  
  <form action="/api/edit-profile" method="post" enctype="multipart/form-data" onChange="checkFields()">
    <div class="columns">
      <div class="column">
        <% if (user.img)  { %>
          <img src="<%= "profileUploads/" + JSON.parse(user.img).filename %>">
        <% } else { %>
          <img src="https://ui-avatars.com/api/?name=<%= user.firstName %>+<%= user.lastName %>">
        <% } %>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="firstName" id="firstName" placeholder="First Name" value=<%= user.firstName %> required>
          </div>
          <p id="firstNameErr" style="display: none; color: red;">Please enter a valid First Name</p>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="text" name="lastName" id="lastName" placeholder="Last Name" value=<%= user.lastName %> required>
          </div>
          <p id="lastNameErr" style="display: none; color: red;">Please enter a valid Last Name</p>
        </div>
        <div class="field">
          <label class="label">Upload image</label>
          <div class="control">
            <input class="input" type="file" accept="image/png, image/jpeg" name="image" id="image" required>
          </div>
          <p id="imageErr" style="display: none; color: red;">File type must be .jpg or .png</p>
        </div>
        <button class="button is-link" id="post" type="submit">Post</button>
      </div>
      <div class="column">

      </div>
    </div>
  </form>
</body>
</html>

<script>
  var firstFlag = {0:1}, lastFlag = {0:1}, imageFlag = {0:1}
  var firstName = document.querySelector('#firstName');
  var firstErr = document.querySelector('#firstErr');
  var lastName = document.querySelector('#lastName');
  var lastErr = document.querySelector('#lastErr');
  var image = document.querySelector('#image');
  var imageErr = document.querySelector('#imageErr');

  firstName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z][a-zA-Z\s-]{0,20}[a-zA-Z]$/;
      var currentValue = e.target.value;
      isValid(firstNameErr, pattern, currentValue, firstFlag);
  })

  lastName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z][a-zA-Z\s-]{0,20}[a-zA-Z]$/;
      var currentValue = e.target.value;
      isValid(lastNameErr, pattern, currentValue, lastFlag);
  })

  image.addEventListener('input', function(e){
      var currentValue = e.target.value.split('.');
      console.log(currentValue)
      var ext = currentValue[currentValue.length-1]; 

      if(ext == "jpg" || ext == "png") {
          imageErr.style.display = 'none';
          imageFlag[0] = 1;
      }

      else {
          imageErr.style.display = 'block';
          imageFlag[0] = 0;
      }
  })

  function checkFields(){
    console.log("checkFields");
    if (titleFlag[0] == 1 && contentFlag[0] == 1 && imageFlag[0] == 1){
        console.log("correct");
        console.log(titleFlag);
        console.log(contentFlag);
        console.log(imageFlag);
        post.removeAttribute('disabled');
      }

      else {
        console.log("incorrect:");
        console.log(titleFlag);
        console.log(contentFlag);
        console.log(imageFlag);
        post.setAttribute('disabled', 'disabled');
      }
  }
</script>