<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  Home
  <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <img src="<%= "postUploads/" + JSON.parse(post.img).filename %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <%= post.title %>
            <br>
          </div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">John Smith</p>
            </div>
            <time datetime=""><%= post.date %></time>
          </div>
          <div class="likes">
            <% // if there the post is not liked by the current user, display like button, else unlike button %>
            <div class="total-likes"><%= post.total_likes %></div>
            <% if (post.isLiked === 0) { %>
              <button class="like" onclick="likeOrUnlike('<%= post.id %>')"><i class="fa-regular fa-thumbs-up"></i></button>
            <% } %>
            <% if (post.isLiked === 1) { %>
              <button class="unlike" onclick="unlikePage('<%= post.id %>')"><i class="fa-solid fa-thumbs-up"></i></button>
            <% } %>
          </div>
        </div>
      </div>
    <%}) %>
  <% } %>
</body>
</html>

<script src="https://kit.fontawesome.com/e006435f50.js" crossorigin="anonymous"></script>
<script>
  const likeUrl = "http://localhost:3000/api/like-post";
  const unlikeUrl = "http://localhost:3000/api/unlike-post";

  function likeOrUnlike(strpostId) {

    const postId = Number(strpostId);
    const data = {
      postId: postId
    };
    // if liked send to unlikeUrl
    // else send to likeUrl
    fetch(likeUrl, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => {
      const totalLikes = document.querySelector(".total-likes");
      document.querySelector("#like").id = "#unlike"
      totalLikes.textContent = Number(totalLikes.textContent) + 1;
      console.log(totalLikes.textContent);
    });
  }

  function likePage(strpostId) {
    const postId = Number(strpostId);
    const data = {
      postId: postId
    };

    fetch(likeUrl, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => {
      const like = document.querySelector("#like");
    });
  }

  function unlikePage(strpostId) {
    const postId = Number(strpostId);
    const data = {
      postId: postId
    };
    fetch(unlikeUrl, {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
      }
    })
    .then(response => {
      const unlike = document.querySelector("#unlike");
    });
    
  }
</script>
